.tasks_show {
    position: relative;
    display: block;
    padding: 4.44vw 4.44vw;
    color: #666666;
}

.tasks_show h1 {
    display: inline-block;
    font-weight: 500;
    width: 80vw;
    padding-bottom: 4.44vw;
}

.tasks_show .points_top {
    display: inline-block;
    float: right;
    font-weight: 700;
    font-size: 2em;
}

@media screen and (min-width: 600px) {
    .tasks_show h1 {
        width: 95%;
        padding-bottom: 30px;
    }
}